<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="fullarticle.css" />
</head>
<body>
	<center>
		<h1>Hello Shashi</h1>
	</center>


	<table class="table table-bordered">
		<thead>

		</thead>
		<tbody>
			<tr th:each="post: ${postList}">

				<td>
					<p th:text="${post.getId()}" />
					<h1 th:text="${post.getTitle()}"></h1>
					<p th:text="${post.getExcerpt()}" />
					<p th:text="${post.getContent()}" />
					<p th:text="'Author:  '+ ${post.getAuthor()}" />
					<p th:text="'PublishedAt:  '+ ${post.getPublishAt()}" />
				</td>

			</tr>

		</tbody>
	</table>
	<hr>

	<!-- All comment ko dikhayega aur sath  me hi update and delete karne wala option v dega -->

	<div class="main-commentsContainer">
		<form action="editComments" method="post">
			<div th:each="AllComments: ${AllComments}">
				<div id="comment">
					<p th:text="${AllComments.getComment()}">
					<p th:text="'CommentBy: '+ ${AllComments.getName()}">
					<p th:text="'email: '+${AllComments.getEmail()}">
				</div>
				<br />
				<button id="update" name="update" th:value="${AllComments.getId()}">update</button>
				<button id="delete" name="delete" th:value="${AllComments.getId()}">Delete</button>
				<hr>
			</div>
		</form>
	</div>

	<hr>
	<!-- commet ko update karne ke liye -->
	<div class="main-container">
		<form action="comments" method="post">
			<input type="text" id="comment-box" placeholder="Enter comment"
				required name="comment" /><br /> <input type="text"
				placeholder="enter name" required name="name" /> <input
				type="email" placeholder="Email" required name="email" /><br /> <input
				type="hidden" required name="createAt" th:value="${dateAndTime}" /><br />
			<input type="hidden" required name="updateAt"
				th:value="${dateAndTime}" /><br />


			<button id="post" th:value="${id}" name="post">Post</button>
		</form>
	</div>

</body>
</html>